<div class="comments">
  <h4>Comments:</h2>
  {{#each this}}
    <div class="card">
      <section class="comment comment-body card-body">
        <div class="text">
          {{text}}
        </div>
        <div class="meta" id="comment-author">
          -{{user.username}}
        </div>
      </section>
    </div>
  {{/each}}
</div>