<div class="card">

  <header class="card-header">
    <h4><a class="link" href="/post/{{id}}">{{title}}</a></h4>
    <p1>Posted by:</p1>
    <br />
    <b> {{user.username}}</b>
  </header>

  <p class="card-body">{{body}}</p>
</div>