<section>
  <a href="/dashboard">Go Back</a>
  <h2 class="title">New Post Creation</h2><hr />

  <form class="new-post-form">
    <div>
      <label for="post-title">title:</label>
      <input
        class="input"
        type="text"
        id="post-title"
        name="post-title"
        placeholder="Post Title"
      />
    </div>
    <div>
      <label for="post-content">Post body</label>
      <input
        class="textarea is-large"
        id="post-content"
        name="post-content"
        placeholder="Post Body"
      />
    </div>
    <button type="submit">Submit Post</button>
  </form>
</section>

<script src="/public/js/create-post.js"></script>