<div>
    <h1>Your Dashboard</h1>
<a href="/dashboard/create/" <button id="create-post">Create Post</button></a>
</div>

<div>
    {{#if posts.length}}

    {{#each posts as |post|}}
    {{> post-info post}}

     <a href="/dashboard/edit/{{post.id}}"><button id="edit-post">Edit Post</button></a>
</div>
    {{/each}}

     {{else}}
     <h3>No posts created. Click "Create Post" to make one.</h3>
     {{/if}}
</div>
