<article>
  <a href="/dashboard" id="back">Go Back</a>
  <h2 class="title mt-5">Edit</h2><hr />
  <form class="edit-post-form">
    <div>
      <label for="post-title"><b>Title:</b></label>
      <br />

      <input
        class="input"
        type="text"
        id="post-title"
        name="post-title"
        value="{{post.title}}"
      />
    </div>

    <br />

    <div>
      <label for="post-content"><b>Body:</b></label>
      <br />
      <textarea
        id="make-post-body"
        class="input"
        name="post-body"
        value="{{post.body}}"
      ></textarea>
    </div>
    <br />
    <button type="submit" class="button is-success">save post</button>
    <button type="button" class="delete-post-btn">delete post</button>
  </form>
</article>

<script src="/js/edit-post.js"></script>
<script src="/js/delete-post.js"></script>
<script src="/js/comment.js"></script>