body {
  background-color: burlywood;
}

#nav-bar {
  border-bottom: thin solid black;
  font-size: larger;
  font-weight: bold;
  background-color: peachpuff;
}

.nav-link {
  background-color: peachpuff;
  color: black;
  border-right: thin solid black;
}

.card {
  padding: 5px;
  margin: 25px;
  border: black solid 2px;
}

#header {
  align-content: center;
}

#login-form,
#signup-form {
  background-color: lightgrey;
  padding: 10px;
  margin: 25px;
}

#postedbyid {
  text-align: right;
}

#post-title {
  text-align: center;
}

.card-header {
  border-bottom: black thick solid;
  background-color: rgb(214, 205, 205);
}

.card-body {
  color: black;
}

#site-title,
h4 {
  text-align: center;
}

#comment-author {
  text-align: right;
  font-weight: bold;
}

#comment-input,
#comment-submit {
  text-align: center;
}

#dash-title,
#ifNoPost {
  text-align: center;
}

#create-post {
  font-size: 25px;
  border: black solid thin;
  padding: 5px;
  background-color: lightgrey;
}

.title {
  text-align: center;
}

#back {
  font-size: 20px;
  border: black solid thin;
  background-color: lightgrey;
}

.new-post-form,
.edit-post-form {
  text-align: center;
}

#make-post-body {
  width: 500px;
  height: 100px;
  flex-wrap: wrap;
}

#post-title {
  width: 400px;
}
